@import url('https://fonts.googleapis.com/css?family=Tangerine');
body {
  margin: 0;
  font-family:Tangerine;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#eceff1;
  color: #4d4d4d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
